
.TitleBooK {
  font-family: 'poppins', sans-serif;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
}

.DivForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inpText {
  height: 23px;
  width: 40vw;
  margin-right: 15px;
}

.Select {
  height: 30px;
  width: 20vw;
}

.BtnSumit {
  margin-left: 10px;
  height: 30px;
  width: 13vw;
  cursor: pointer;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.common-style {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
