.DivNav {
  background-color: white;
  height: 10vh;
  margin-bottom: 2vh;
  padding-left: 5vw;
  margin-left: -5vw;
  border-bottom: 1px solid #e8e8e8;
}

.commun-divnav {
  width: 80vw;
  display: flex;
}

.divnav {
  height: 15vh;
  padding-left: 5vw;
  margin-left: -5vw;
  flex-direction: row;
  justify-content: space-between;
}

.Bookstore-CMS {
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-weight: bold;
  color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 2rem 2.563rem 0.688rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.commun-nav {
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 2rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'poppins', sans-serif;
}

.book-link {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'poppins', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.Mask {
  width: 1.063rem;
  height: 1.063rem;
  background-color: #0290ff;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.primary-color {
  color: #0290ff;
}

.iconbutton {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: auto;
  right: 13%;
  margin-top: 15px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.commun-style {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.icoImg {
  margin-left: 5px;
}
