.DivNav {
  display: flex;
  background-color: white;
  width: 80vw;
  height: 15vh;
  margin-bottom: 5vh;
  padding-left: 5vw;
  margin-left: -5vw;
}

.divnav {
  width: 80vw;
  height: 20vh;
  padding-left: 5vw;
  margin-left: -5vw;
}

.Bookstore-CMS {
  /* display: flex; */
  margin: 1.125rem 2.563rem 0.688rem 0;
  width: auto;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'poppins', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'poppins', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.book-link {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'poppins', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.Mask {
  width: 1.063rem;
  height: 1.063rem;
  background-color: #0290ff;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.primary-color {
  color: #0290ff;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.iconbutton {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  margin-right: 5vw;
  margin-top: 35px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
